{% extends "layout.html" %}
{% block content %}
    <div class="info">
        <section>
            <h3 class="title">TEETH COMPOUND</h3>
            <p>Chose photo that matches your leaf best:</p>
        </section>
        <form method="POST">
            <fieldset class="marg5_2">
            <!--for species that have some, but less than 50 percent, teeth that are compound-->
            <!--1-->
            <label class="img">
                <input type="radio" name="scores" value="{{ scores.sc05 }}" checked>
                <img src="{{ url_for('static', filename='/images/X.png') }}" alt="icon"/>
            </label>
            <!--ffor species that have at least 50 percent teeth that are compound-->
            <!--2-->
            <label class="img">
                <input type="radio" name="scores" value="{{ scores.sc1 }}" checked>
                <img src="{{ url_for('static', filename='/images/Y.png') }}" alt="icon"/>
            </label>
            <!--for species that have no compound teeth-->
            <!--3-->
            <label class="img">
                <input type="radio" name="scores" value="{{ scores.sc0 }}" checked>
                <img src="{{ url_for('static', filename='/images/R.png') }}" alt="icon"/>
            </label><br>
            </fieldset>
            <input class="marg5_1" type="submit" value="Submit"><br>
        </form>
    </div>
{% endblock content %}