{% extends "layout.html" %}
{% block content %}
    <div class="info">
        <section>
            <h3 class="sub_title">Hey!</h3>
            <p>Click on a button below to go back to the previous page. <br>
                Make sure you checked all the photos and entered all the values you were asked.</p>
        </section>
        <form method="POST">
            <input type="button" value="Go back to the previous page" onclick="history.back(-1)" />
        </form>
    </div>
{% endblock content %}