{% extends "layout.html" %}
{% block content %}
    <div class="info">
        <section>
            <h1 class="sub_title">FINAL RESULT</h1>
            <small class="left">Lobing {{ result.Lobing }}<br>
            Margin {{ result.Margin }}<br>
            Teeth regularity {{ result.Regularity }}<br>
            Teeth closeness {{ result.Closeness }}<br>
            Teeth shape {{ result.Teethshape }}<br>
            Acute {{ result.Acute }}<br>
            Compound {{ result.Compound }}<br>
            Apex {{ result.Apex }}<br>
            Base {{ result.Base }}<br>
            Shape {{ result.Shape }}<br>
            Ratio {{ result.Ratio }}<br>
            Size {{ result.Size }}</small>
        </section>

        <a class="buttn_link padd5" href="{{ url_for('home') }}">Go back to the first page</a><br>
        <a class="buttn_link padd5" href="{{ url_for('csv') }}">Add data to CSV file</a><br>
    </div>
{% endblock content %}