{% extends "layout.html" %}
{% block content %}
    <div class="info">
        <section>
            <h1 class="sub_title">FINAL RESULT</h1>
            <small class="left">Lobing {{ result.Lobing }}<br>
            Margin {{ result.Margin }}<br>
            Teeth regularity {{ result.Regularity }}<br>
            Teeth closeness {{ result.Closeness }}<br>
            Teethshape {{ result.Teethshape }}<br>
            Acute {{ result.Acute }}<br>
            Compound {{ result.Compound }}<br>
            Apex {{ result.Apex }}<br>
            Base {{ result.Base }}<br>
            Shape {{ result.Shape }}<br>
            Ratio {{ result.Ratio }}<br>
                Size {{ result.Size }}</small>
        </section>

        <div align="center">
            <h1>Add data to file</h1>
            <h2>Upload new File</h2>
            <form method=post enctype=multipart/form-data>
                <p><input type=file name=file>
                <input type=submit value=Upload>
            </form>
        </div>

        <a class="buttn_link" href="{{ url_for('home') }}">Go back to the first page</a><br>
        <input type="submit" value="Create file"><br>
    </div>
{% endblock content %}