{% extends "layout.html" %}
{% block content %}
    <div class="info">
        <section class="middle info marg5_2">
            <h3 class="title">LOBING</h3>
            <p>Chose photo that matches your leaf best:</p>
        </section>
        <form method="POST">
            <fieldset class="marg5_2">
            <!--if some leaves are lobed and some are unlobed, 0.5- NO PHOTOS-->
            <!--1-->
            <label class="img">
                <input type="radio" name="scores" value="{{ scores.sc0 }}" checked>
                <img src="{{ url_for('static', filename='/images/A.png') }}" alt="icon"/>
            </label>
            <!--2-->
            <label class="img">
                <input type="radio" name="scores" value="{{ scores.sc1 }}" checked>
                <img src="{{ url_for('static', filename='/images/B.png') }}" alt="icon"/>
            </label>
            <!--3-->
            <label class="img">
                <input type="radio" name="scores" value="{{ scores.sc1 }}" checked>
                <img src="{{ url_for('static', filename='/images/C.png') }}" alt="icon"/>
            </label>
            <!--4-->
            <label class="img">
                <input type="radio" name="scores" value="{{ scores.sc1 }}" checked>
                <img src="{{ url_for('static', filename='/images/D.png') }}" alt="icon"/>
            </label>
            <!--5-->
            <label class="img">
                <input type="radio" name="scores" value="{{ scores.sc0 }}" checked>
                <img src="{{ url_for('static', filename='/images/E.png') }}" alt="icon"/>
            </label>
            <!--6-->
            <label class="img">
                <input type="radio" name="scores" value="{{ scores.sc1 }}" checked>
                <img src="{{ url_for('static', filename='/images/F.png') }}" alt="icon"/>
            </label><br>
            </fieldset>
            <input class="marg5_1" type="submit" value="Submit"><br>
        </form>
    </div>
{% endblock content %}