{% extends "layout.html" %}
{% block content %}
    <div class="info">
        <section>
            <h3 class="title">MARGIN</h3>
            <p>Chose photo that matches your leaf best:</p>
        </section>
        <form method="POST">
            <fieldset class="marg5_2">
            <!--if some leaves are toothed and some are not, 0.5 - NO PHOTOS-->
            <!--if no leaves are toothed-->
            <!--1-->
            <label class="img">
                <input type="radio" name="scores" value="{{ scores.sc1 }}" checked>
                <img src="{{ url_for('static', filename='/images/G.png') }}" alt="icon"/>
            </label>
            <!--2-->
            <label class="img">
                <input type="radio" name="scores" value="{{ scores.sc1 }}" checked>
                <img src="{{ url_for('static', filename='/images/H.png') }}" alt="icon"/>
            </label>
            <!--3-->
            <label class="img">
                <input type="radio" name="scores" value="{{ scores.sc1 }}" checked>
                <img src="{{ url_for('static', filename='/images/I.png') }}" alt="icon"/>
            </label>
            <!--if teeth are present on all leaves-->
            <!--4-->
            <label class="img">
                <input type="radio" name="scores" value="{{ scores.sc0 }}" checked>
                <img src="{{ url_for('static', filename='/images/J.png') }}" alt="icon"/>
            </label>
            <!--5-->
            <label class="img">
                <input type="radio" name="scores" value="{{ scores.sc0 }}" checked>
                <img src="{{ url_for('static', filename='/images/K.png') }}" alt="icon"/>
            </label>
            <!--6-->
            <label class="img">
                <input type="radio" name="scores" value="{{ scores.sc0 }}" checked>
                <img src="{{ url_for('static', filename='/images/L.png') }}" alt="icon"/>
            </label>
            <!--7-->
            <label class="img">
                <input type="radio" name="scores" value="{{ scores.sc0 }}" checked>
                <img src="{{ url_for('static', filename='/images/M.png') }}" alt="icon"/>
            </label><br>
            </fieldset>
            <input class="marg5_1" type="submit" value="Submit"><br>
        </form>
    </div>
{% endblock content %}