{% extends "layout.html" %}
{% block content %}
    <div class="info">
        <section>
            <h3 class="title">Length-to-width ratio</h3>
            <p>Measure the leaf and enter width and length values below.<br>
            If your leaf is compound of many leaflets, measure three (3) the most different in width and length leaflets.<br>
            If you have the whole leave without any leaflets, just enter the same value three (3) times.</p>
        </section>
        <form method="POST">

                <div class="inline border padd5">
                <p>Enter length value (in):</p>
                <input type="text" name="length" placeholder="Length"><br>
                <p>Enter width value (in):</p>
                <input type="text" name="width" placeholder="Width"><br>
                </div>

                <div class="inline border padd5">
                <p>Enter length value (in):</p>
                <input type="text" name="length2" placeholder="Length"><br>
                <p>Enter width value (in):</p>
                <input type="text" name="width2" placeholder="Width"><br>
                </div>

                <div class="inline border padd5">
                <p>Enter length value (in):</p>
                <input type="text" name="length3" placeholder="Length"><br>
                <p>Enter width value (in):</p>
                <input type="text" name="width3" placeholder="Width"><br>
                </div><br>

                <input type="submit" value="Submit"><br>
        </form>
    </div>
{% endblock content %}