<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style.css') }}">
</head>
<header>
</header>
<body>
    <div class="info">
        <section>
            <h1 class="title">CLAMP</h1>
            <h3 class="sub_title">Length-to-width ratio</h3>
        </section>
        <form method="POST">
            <p>Measure the leaf and enter width and length values below.</p>
            <p>If your leaf is compound of many leaflets, measure three (3) the most different in width and length leaflets.</p>
            <p>If you have the whole leave without any leaflets, just enter the same value three (3) times.</p>

                <div class="inline border padd5">
                <p>Enter length value (in):</p>
                <input type="text" name="length" placeholder="Length"><br>
                <p>Enter width value (in):</p>
                <input type="text" name="width" placeholder="Width"><br>
                </div>

                <div class="inline border padd5">
                <p>Enter length value (in):</p>
                <input type="text" name="length2" placeholder="Length"><br>
                <p>Enter width value (in):</p>
                <input type="text" name="width2" placeholder="Width"><br>
                </div>

                <div class="inline border padd5">
                <p>Enter length value (in):</p>
                <input type="text" name="length3" placeholder="Length"><br>
                <p>Enter width value (in):</p>
                <input type="text" name="width3" placeholder="Width"><br>
                </div><br>

                <input type="submit" value="Submit"><br>
        </form>
    </div>
</body>
<footer>
</footer>
</html>