{% extends "layout.html" %}
{% block content %}
    <div class="info">
        <section>
            <h3 class="title">LEAF SIZE</h3>
            <p>Look at the picture below to see nine (9) different size groups.<br>
            Check all the groups that matches your leaf or different leaflets.<br>
            At least one (1) group needs to be checked. You can check all nine (9) groups if you need to.</p><br>
            <small>To find more information about leaflets, click on this <a href="https://en.wikipedia.org/wiki/Leaflet_(botany)" target="_blank">link</a></small><br>
        </section>
        <form method="POST">
            <input type="checkbox" name="hello" value="{{ scores.sc1 }}">
            <label>GROUP 1</label>
            <input type="checkbox" name="hello" value="{{ scores.sc1 }}">
            <label>GROUP 2</label>
            <input type="checkbox" name="hello" value="{{ scores.sc1 }}">
            <label>GROUP 3</label>
            <input type="checkbox" name="hello" value="{{ scores.sc1 }}">
            <label>GROUP 4</label>
            <input type="checkbox" name="hello" value="{{ scores.sc1 }}">
            <label>GROUP 5</label>
            <input type="checkbox" name="hello" value="{{ scores.sc1 }}">
            <label>GROUP 6</label>
            <input type="checkbox" name="hello" value="{{ scores.sc1 }}">
            <label>GROUP 7</label>
            <input type="checkbox" name="hello" value="{{ scores.sc1 }}">
            <label>GROUP 8</label>
            <input type="checkbox" name="hello" value="{{ scores.sc1 }}">
            <label>GROUP 9</label><br>
            <input type='reset' value="UNCHECK ALL"/>
            <input type="submit" value="Submit"><br>

            <img src="{{ url_for('static', filename='/images2/size.png') }}" alt="icon" class="img"/>

        </form>
    </div>
{% endblock content %}