<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='functions.js') }}"></script>
</head>
<header>
</header>
<body>
    <div>
        <section class="marg20 info">
            <h1 class="title">CLAMP</h1>
            <h3 class="sub_title">Info</h3>
            <p>In the fields below select/fill out the necessary information about the fossil</p>
        </section>
        <form method="POST" class="marg10">

            <div class="inline border padd5">
                <p>Enter row:</p>
                <input type="text" name="row" placeholder="Row"><br>
                <p>Enter column:</p>
                <input type="text" name="column" placeholder="Column"><br>
                <p>Enter drawer:</p>
                <input type="text" name="drawer" placeholder="Drawer"><br>
                <p>Enter FMHN:</p>
                <input type="text" name="fmhn" placeholder="FMHN"><br>
            </div>

            <div  class="inline border padd5">
            <label class="anchor">Flora:</label>
            <select name="flora" class="check-list">
                <option value="{{ flora.no }}">{{ flora.no }}</option>
                <option value="{{ flora.bh }}">{{ flora.bh }}</option>
                <option value="{{ flora.cf }}">{{ flora.cf }}</option>
                <option value="{{ flora.mc }}">{{ flora.mc }}</option>
            </select><br>

            <label class="anchor">Specimen:</label>
            <select name="spec" class="check-list">
                <option value="{{ specimen.no }}">{{ specimen.no }}</option>
                <option value="{{ specimen.sp1 }}">{{ specimen.sp1 }}</option>
                <option value="{{ specimen.sp2 }}">{{ specimen.sp2 }}</option>
                <option value="{{ specimen.sp3 }}">{{ specimen.sp3 }}</option>
            </select>
            </div><br>
            <input type='reset' value="UNCHECK ALL"/>
            <input type="submit" value="Submit"><br>
        </form>
</div>
</body>
<footer>
</footer>
</html>